# Variable group: win11-ui-tests-image-build
# Import in Azure DevOps → Pipelines → Library

SUBSCRIPTION_ID=426ea593-fd6e-40a0-a314-be2b3d6a2a06
GALLERY_NAME=acg_ned_prd_mdp_001
GALLERY_RG_NAME=rg-ned-prd-mdp-001
IMAGE_BUILD_RG_NAME=rg-ned-prd-mdp-001
AZURE_LOCATION=germanywestcentral
MDP_RG_NAME=rg-ned-prd-mdp-001
MDP_POOL_NAME=mdp-ned-prd-uittest-001
